<div class="container">
  <div class="col-md-12 article-block">
    <%= image_tag 'bike.jpg', class: 'article-image padding-top15' %>
    <div class="padding-bottom-15">
      <%= render 'form', article: @article %>
    </div>
  </div>
</div>